// Typography
$sans-serif: 'Roboto', sans-serif;
$serif: 'Roboto Slab', serif;
$base-font-family: $sans-serif;
$header-font-family: $serif;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 3.157;
$h2-font-size: $base-font-size * 2.369;
$h3-font-size: $base-font-size * 1.777;
$h4-font-size: $base-font-size * 1.333;
$h5-font-size: $base-font-size;
$h6-font-size: $base-font-size * 0.75;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.333;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$blue: #35A4DB;
$dark-gray: #41413B;
$medium-gray: #7F7D70;
$light-gray: #DEDEDE;
$yellow: #EFC94C;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;
$base-label-color: $medium-gray;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
