<!-- Templates -->

<!-- Layout -->
<script id='layout' type='text/x-handlebars-template'>
  <div class='navigation'>
    <ul>
      <li><a href='#' class='index'>Home</a></li>
    </ul>
  </div>
  <div id='container'></div>
</script>


<!-- Boot Script -->
<script>
  $(function(){ new Lernhow(); });
  window.Templates = {};
  $('[type="text/x-handlebars-template"]').each(function(idx, div){
    Templates[div.id] = Handlebars.compile(div.innerHTML);
  });
</script>


<!-- Dependency Load Order
  client app
  model
  collection
  view
  master view
  router
-->
<!-- Dependencies -->
<script src='/app/app.js'></script>
<script src='/app/router.js'></script>
