<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Lernhow</title>
    <link rel="stylesheet" type="text/css" href="/styles/global.scss">
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/underscore/underscore.js"></script>
    <script src="/lib/backbone/backbone.js"></script>
    <script src="/lib/handlebars/handlebars.js"></script>
  </head>
  <body>
    <h1>Lernhow Home</h1>
      <%- body %>
  </body>
</html>