.main-header-container {
  background: $yellow;
}

.main-header {
  @include margin(0 auto);
  @include padding(($base-spacing / 2) 0);
  max-width: 1000px;
  width: 95%;
  position: relative;

  .site-title {
    margin: 0;
    font-weight: 300;
  }

}

/**
 * Site header
 */
.site-title {
  a {
    color: $dark-gray;
    &:hover {
      color: $medium-gray;
    }
  }
}

/**
 * Page header
 */

.page-header {
  @include margin(0 0 1em 0);
  @include padding(0 0 1em 0);

  border-bottom: 1px solid $light-gray;
  .page-title {

  }
}