<header class="page-header">
  <h1 class="page-title">Edit Guide</h1>
</header>
<div class="guide-container">
  <form id="Guide_crud" action="" method="post">
    <div class="guide-inner">
      <header class="guide-header">
        <input type="text" name="title" id="G_title" aria-labelledby="Title" placeholder="Guide title"/>
      </header>

      <!-- TODO: Work on this section once intro is added to schema -->
      <!--<section class="guide-intro">-->
        <!--<p class="guide-intro-text"></p>-->
      <!--</section>-->

      <section class="steps-container steps-form">
        <div class="step">
          <input type="text" name="step1" class="step-input" aria-labelledby="Step 1" placeholder="Step 1"/>
          <div class="step-number-container">
            <div class="step-number">1</div>
          </div>
        </div>
        <div class="step">
          <input type="text" name="step2" class="step-input" aria-labelledby="Step 2" placeholder="Step 2"/>
          <div class="step-number-container">
            <div class="step-number">2</div>
          </div>
        </div>
        <div class="step">
          <input type="text" name="step3" class="step-input" aria-labelledby="Step 3" placeholder="Step 3"/>
          <div class="step-number-container">
            <div class="step-number">3</div>
          </div>
        </div>
        <div class="step">
          <input type="text" name="step4" class="step-input" aria-labelledby="Step 4" placeholder="Step 4"/>
          <div class="step-number-container">
            <div class="step-number">4</div>
          </div>
        </div>
        <div class="step">
          <input type="text" name="step5" class="step-input" aria-labelledby="Step 5" placeholder="Step 5"/>
          <div class="step-number-container">
            <div class="step-number">5</div>
          </div>
        </div>
      </section>

      <div class="guide-controls">
        <a class="btn alt create-edit-guide" href="#">Save</a>
        <a class="btn delete-guide" href="#">Delete</a>
      </div>
    </div>
  </form>
</div>