<div class="guide-container">
  <div class="guide-inner">
    <header class="guide-header">
      <h2 class="guide-title"></h2>
    </header>

    <div class="guide-meta">
      <h4 class="guide-author"></h4>
      <p class="guide-date"></p>
    </div>

    <section class="guide-intro">
      <p class="guide-intro-text"></p>
    </section>

    <section class="steps-container"></section>

    <!-- Guide control for authorized author of guide -->
    <div class="guide-controls">
      <a class="btn alt edit-guide" href="#">Edit</a>
      <a class="btn delete-guide" href="#">Delete</a>
    </div>
  </div>
</div>