<section class="hero-container">
  <div class="hero-inner site-width">
    <h1 class="hero-lead">Curated bites for self-starters</h1>
    <p class="hero-tagline">5 steps to learning</p>
  </div>
</section>

<header class="page-header site-width">
  <h1 class="page-title">Cut the noise</h1>
</header>

<section class="page-intro site-width">
  <p class="page-intro-text">
    Learning a new skill is hard, and the over abundance of information on the internet doesn't make it any easier.
    <strong>Lern</strong> gives you a way to cut through the noise and get the best possible starter kits to learning any new skill,
    curated by <strong>you</strong>. Check out some of our latest guides down below to get started!
  </p>
</section>

<main class="guide-previews site-width">
  <header class="guide-previews-header page-header">
    <h1 class="guide-previews-title">Guides</h1>
  </header>

  <section class="guide-previews-container"></section>
</main>