<header class="page-header site-width">
  <h2 class="page-title">Login</h2>
</header>

<div class="error-form-container site-width"></div>

<div class="form-container site-width">
  <form action="/login" method="post">
    <div>
      <input class="auth-input" type="text" id="Username" name="username" aria-labelledby="Username" placeholder="username">
    </div>
    <div>
      <input class="auth-input" type="password" id="Password" name="password" aria-labelledby="Password" placeholder="password">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
  </form>

</div>
