<header class="page-header site-width">
  <h2 class="page-title">Signup</h2>
</header>

<div class="error-form-container site-width"></div>

<div class="form-container site-width">
  <form action="/signup" method="post">
    <div>
      <input class="auth-input" id="username" type="text" name="username" aria-labelledby="Username" placeholder="Your username">
    </div>
    <div>
      <input class="auth-input" id="password" type="password" name="password" aria-labelledby="Password" placeholder="Your password">
    </div>
    <div>
      <input class="auth-input" id="email" type="email" name="email" aria-labelledby="Email" placeholder="Your email address">
    </div>
    <div>
      <input type="submit" value="Sign up">
    </div>
  </form>

</div>
