<header class="page-header">
  <h2 class="page-title">Signup</h2>
</header>

<div class="form-container">
  <form action="/signup" method="post">
    <div>
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="Your username">
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your password">
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="Your email address">
    </div>
    <div>
      <input type="submit" value="Sign up">
    </div>
  </form>

</div>
