<header>
  <h1>SignupView</h1>

</header>

<div class="container">
  <form action="/signup" method="post">
    <div>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" placeholder="validation info">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="validation info">
    </div>
    <div>
      <label for="email">email:</label>
      <input id="email" type="email" name="email" placeholder="validation info">
    </div>
    <div>
      <input type="submit" value="Sign up">
    </div>
  </form>

</div>
